.fr01{
    top: 5%;
    left: 30%;
    display:grid !important;
    position: absolute;
    outline: 0;
    margin: auto;
    padding: 30px;
    background-color: #fff;
    border: 1px solid #E7EBF0;
    border-left-width: 0;
    border-right-width: 0;
    border-radius: 15px;
    transform: scale(0.8);

}
.fr01 > * {
    margin-top: 10px !important;
}
.outSide{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);
}
.r01{
    display: flex;
    justify-content: space-around;
}
.fr02{
    display: flex;
    justify-content: space-around;
    margin-top: 15px !important;
}
.task02{
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
}
.board01{
    top: 10%;
    left: 10%;
    display:grid !important;
    position: absolute;
    outline: 0;
    margin: auto;
    display: flex;
    justify-content: center;
    padding: 30px;
    background-color: #fff;
    border: 1px solid #E7EBF0;
    border-left-width: 0;
    border-right-width: 0;
    border-radius: 15px;
    z-index: 10;
}
.storyBoard{
    top: 10%;
    left: 10%;
    display:grid !important;
    position: absolute;
    outline: 0;
    margin: auto;
    display: flex;
    justify-content: center;
    padding: 30px;
    background-color: #fff;
    border: 1px solid #E7EBF0;
    border-left-width: 0;
    border-right-width: 0;
    border-radius: 15px;
    z-index: 10;
}
.table01{
    width: 30px;
    position: relative;
}
.table01:nth-child(odd)::after{
    position: absolute;
    top: 0;
    right: 0;
    height: 1000px;
    content: '';
    width: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    z-index: -1;
}
.th01{
    border-right: 1px solid;
    width: 0px;
}
.th02{
    border-right: 1px solid;
    text-align: center;
    border-bottom: 1px solid;
}
.tl01{
    border-radius: 5px;
    background-color: rgb(129 221 129);
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 3px 1px #00000099;
    z-index: 1;
}
.tl02:nth-child(odd){
    background-color: #9696961c;
}
.tl02{
    height: 50px;
}
.tl01:hover{
    background-color: rgb(29, 116, 35);
    transition: 0.5s;
}