.fr01{
    top: 0%;
    left: 30%;
    display:grid !important;
    position: absolute;
    outline: 0;
    margin: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    padding: 30px;
    background-color: #fff;
    border: 1px solid #E7EBF0;
    border-left-width: 0;
    border-right-width: 0;
    border-radius: 15px;   

}
.outSide{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);
}
.r01{
    display: flex;
    justify-content: space-around;
}
.fr02{
    display: flex;
    justify-content: space-around;
    margin-top: 15px !important;
}
.task02{
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
}
.board01{
    top: 10%;
    left: 10%;
    display:grid !important;
    position: absolute;
    outline: 0;
    margin: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    padding: 30px;
    background-color: #fff;
    border: 1px solid #E7EBF0;
    border-left-width: 0;
    border-right-width: 0;
    border-radius: 15px;
    z-index: 10;
}